<!DOCTYPE html>
<html id="html" lang="en" th:attr="theme=${theme}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="/img/ico/favicon.ico" rel="shortcut icon"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/animations.css" rel="stylesheet"/>
    <link href="/css/colors.css" rel="stylesheet"/>
    <link href="/css/dimensions.css" rel="stylesheet"/>
    <link href="/css/fonts.css" rel="stylesheet"/>
    <link href="/css/layout.css" rel="stylesheet"/>
    <link href="/css/shadows.css" rel="stylesheet"/>
    <link href="/css/themes.css" rel="stylesheet"/>
</head>
<body id="background">
<div class="container error">
    <img alt="404" class="error-img" src="/img/error/404.gif"/>
    <div class="error-div">
        <div class="code">404</div>
        <div class="title">Oops! You're lost...</div>
        <div class="explanation">
            <div>The page you are looking for does not exist.</div>
            <div>How you got here is a mystery.</div>
        </div>
        <div class="advice">You're drunk, <a href="/">go home</a></div>
    </div>
</div>

<script src="/js/assets/three.min.js"></script>
<script src="/js/assets/vanta.min.js"></script>
<script src="/js/background.js"></script>

</body>
</html>