<!DOCTYPE html>
<html id="html" lang="en" th:attr="theme=${theme}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="500"></title>
    <link rel="shortcut icon" th:href="@{/img/ico/favicon.ico}" type="image/x-icon"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/animations.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/colors.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/dimensions.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/shadows.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/themes.css}" type="text/css"/>
</head>
<body id="background">
<div class="container error">
    <img alt="500" class="error-img" src="/img/error/500.gif"/>
    <div class="error-div">
        <div class="code">500</div>
        <div class="title">We have a problem...</div>
        <div class="explanation">
            <div>While we go down this rabbit hole.</div>
            <div>Please go outside and enjoy the sunshine.</div>
        </div>
        <div class="advice">Open an issue on <a href="https://github.com/Kuuuuuuuu/Ward">Github</a></div>
    </div>
</div>

<script src="/js/assets/three.min.js"></script>
<script src="/js/assets/vanta.min.js"></script>
<script src="/js/background.js"></script>

</body>
</html>